body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.mainBox {
    margin-top: 7%;
}

.calcButton {
    padding: 10px 16px;
    background: #e952a8;
    border: 0;
    outline: none;
    font size: 20px;
    border-radius: 30px;
}

.error {
    color: rgb(230, 84, 84);
}

.result {
    font-size: 50px;
}
